body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

#main {
    background-color: #eee;
}

p {
    font-size: 1.6rem;
}

#img-div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    padding: 1rem;
    margin: auto;
    width: 96%;
    height: auto;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0;
}

#img-caption {
    margin: 1rem 0 0.5rem 0;
}

#tribute-info {
    padding : 5rem;
}

#caption {
    font-weight: bold;
}

ul,
.p {
    text-align: left;
}

ul li {
    margin-bottom: 1.5rem;
}

.ul_container {
    width: 48%;
    margin: auto;
}

#title a {
    text-decoration: none;
    color: black;
}

.footer {
    font-weight: bold;
}

@media (max-width: 1200px) {
    .ul_container {
        width: 55%;
    }
}

@media (max-width: 992px) {
    .ul_container{
        font-size: 2rem;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .ul_container {
        width: 100%;
        margin-left: -3rem;
    }
    .p,
    .pp {
        text-align: center;
        margin-left: 3rem;
    }
}

@media (max-width: 576px) {
    .ul_container {
        width: 100%;
        margin-left: -3rem;
    }
    .p,
    .pp {
        text-align: center;
        margin-left: 3rem;
    }
}